<!DOCTYPE html>
<html>
<head>
  <title>Webpage with SideNav and ContentArea</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <style>
    body {
      font-family: Arial, sans-serif;
      display: flex;
      min-height: 100vh;
      margin: 0;
      padding: 0;
    }

    .sidenav {
      height: 100vh;
      width: 250px;
      background-color: #FFFFFF; /* Green */
      /* padding-top: 20px; */
    }

    .content {
      flex: 1;
      padding: 10px;
      background-color: #F5F7FD; /* Light Gray */
    }

    .sidenav a {
      /* padding: 8px 16px; */
      text-decoration: none;
      color: black;
      display: block;
      border: #202124 1px solid;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .sidenav a#logo {

    }

    .sidenav a:hover {
      background-color: #555;
      color: white;
    }
    
    .topnav{
        display: none;
        background-color: #4CAF50;
    }
    .miniContent p span{
        color: #007BFF;
    }
    .tableWrapper{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    table {
        width: 80%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }
    td{
        max-height: 50px;
        max-width: 150px;
        overflow: auto;
        padding: 3px;
    }

    th, td {
        border: 1px solid black;
        /* padding: 10px; */
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }

    tbody tr:nth-child(odd) {
        background-color: #f9f9f9;
    }

    /* Style for even rows */
    tbody tr:nth-child(even) {
        background-color: #e6e6e6;
    }


    .hidden {
        display: none;
    }
    #showFormBtn{
        width: 100px;
        height: 40px;
        cursor: pointer;
        background-color: #007BFF;
        border: none;
        outline: none;
        color: white;
        padding: 5px;
        /* border-radius: 50%; */
    }
    #addProductForm{
        border: #007BFF 1px solid;
        width: 400px;
        padding: 10px;
        margin-top: 5px;
    }
    #addProductForm input{
        height: 20px;
        margin-bottom: 10px;
    }
    #addProductForm textarea{
        margin-bottom: 10px;
    }


    @media (max-width: 900px) {
    .sidenav {
        width: 220px;
    }
    }

    @media (max-width: 750px) {
        .sidenav {
            width: 200px;
            /* display: none; */
        }

    }

    @media (max-width: 700px) {
        /* .sidenav {
            display: none;
        } */
         /* .topnav{
            display: block;
            width: 100%;
        } */

        .sidenav-toggle {
            display: block;
            padding: 8px 16px;
            text-decoration: none;
            color: white;
        } 
    }

  </style>
</head>
<body>
    <div class="topnav">
        <button class="hamburger" onclick="toggleNav()">☰</button>
    </div>
  <div class="sidenav">
    <a href="/home" id="logo"><h2>LOGO</h2></a>
    <a href="/home">Home</a>
    <a href="/home/credits" >Credits</a>
    <a href="/home/code">Your Code</a>
    <a href="/home/signout" >Sign Out</a>
  </div>
  <div class="content">
    <div class="miniContent" id="products">
      <h2>Your Products</h2>
      <p>You are viewing <span><%= profileData.amazonId %></span> products</p>
    </div>
    <div class="tableWrapper">
        <% if (profileData.products.length==0) { %>
            <p>You don't have any products.</p>
        <% } else { %>
            <table>
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Date</th>
                    <!-- <th>Normal link</th>
                    <th>Affiliated link</th> -->
                    <th>Purchased</th>
                  </tr>
                </thead>
                <tbody>
                    <% profileData.products.forEach(function(item) { %>
                        <tr>
                            <td>
                                <%= item.name %>
                            </td>
                            <td>
                                <%= item.dateAdded %>
                            </td>
                            <!-- <td><%= item.normalLink %></td>
                            <td><%= item.afLink %></td> -->
                            <td><%= item.purchased %></td>
                          </tr>
                        <!-- <li></li> -->
                    <% }); %>
                 
                </tbody>
              </table>
        <% } %>
        
    </div>
  <div class="addProductDiv">
    <button id="showFormBtn" onclick="showForm(this)">Add Product</button>
    <form id="addProductForm" class="hidden" action="/home/products" method="post">
      <label for="name">Product name:</label><br>
      <input type="text" id="name" name="name" required><br>

      <input type="text" id="userId" name="userId" class="hidden" value=<%= profileData.userId %>><br>

      <label for="normalLink">Normal link</label><br>
      <textarea name="normalLink" id="normalLink" cols="30" rows="5" required></textarea><br>

      <label for="afLink">Your affiliated link</label><br>
      <textarea name="afLink" id="afLink" cols="30" rows="5" required></textarea><br>

      <button type="submit">Add</button>
      <button type="button" id="cancelFormBtn" onclick="hideForm(this)">Cancel</button>
    </form>
  </div>

    
</div>
  
    
    <script>
      function hideForm(button) {
        const myForm = document.querySelector('form#addProductForm');
        myForm.classList.add('hidden');
      }
      function showForm(button) {
        const myForm = document.querySelector('form#addProductForm');
        myForm.classList.remove('hidden');
      }

    </script>
  </div>
</body>
</html>
